
.App {
  display: flex;
  justify-content: center;

  form {
    width: 600px;

    .form-element {
      display: flex;
      margin: 20px 0;
      justify-content: space-evenly;
    }

    [type="text"], [type="file"] {
      width: 200px;
    }
  }
}